body {
    color: #526066;
    background-image: url("css/b2.jpg");
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;	
    color: #000000
}

p {
    line-height: 1.6em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.3fr;
  gap: 0px 2px;
  grid-template-areas:
    "Sym1 Symp2 Sym3 Sym4 Sym5"
    "ST1 ST2 ST3 ST4 ST5"
    ". . . . .";
}

.Sym1 { 
grid-area: Sym1; 
display: block;
margin: 0 auto;
}

.Symp2 { grid-area: Symp2; 
display: block;
margin: 0 auto;}

.Sym3 { grid-area: Sym3; 
display: block;
margin: 0 auto;}

.Sym4 { grid-area: Sym4; 
display: block;
margin: 0 auto;}

.Sym5 { grid-area: Sym5; 
display: block;
margin: 0 auto;}

.ST1 { grid-area: ST1; 
text-align: center;
color: #000000;}

.ST2 { grid-area: ST2;
text-align: center;
color: #000000;
}

.ST3 { grid-area: ST3; 
text-align: center;
color: #000000;
}

.ST4 { grid-area: ST4; 
text-align: center;
color: #000000;}

.ST5 { grid-area: ST5; 
text-align: center;
color: #000000;}

.vis-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Line Line Symbol Symbol Symbol"
    ". . . . .";
}

#Line { grid-area: Line; 
display: block;
margin: 0 auto;}

#Symbol { grid-area: Symbol;}

.china-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "china_cases china_cases china_th"
    "china_cases china_cases china_th"
    ". . .";
}


#china_th { grid-area: china_th; }

#china_cases { grid-area: china_cases;
display: block;
margin: 0 auto;}



/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/* Hero */

#hero {
  background-image: url("https://media.istockphoto.com/vectors/coronavirus-background-vector-seamless-pattern-with-covid19-virus-vector-id1213501464?k=6&m=1213501464&s=612x612&w=0&h=ty_tTgYLs0l2mD4dIoyWnbnJW6I52986TWJ8YfiZmiM=");
  background-size: cover;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  min-height: 375px;
  position: relative;
}

@media (min-height: 830px) {
  #hero {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #hero {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #hero {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #hero {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #000000;
  font-weight: bold;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
  color: #000000;
font-weight: bold;
}

.tm-hero-title {
  text-align: center;	
  font-size: 6.5rem;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }
/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url("https://raw.githubusercontent.com/EmilyYeoh/FIT3179/master/Assignment2/css/covid_header.jpg") 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    
    
      
    height: 100%;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }



.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 50px;
    text-align: center;
}

.photo-box-thin {
    height: 50px;
}


    .photo-box img {
        width: 50;
        height: 50;
	align: center;
    }

    .photo-box aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: #000000;
        width: 100%;
        font-size: 80%;
        text-align: center;
	font-weight: bold;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    }

    .photo-box aside span {
        color: #aaa;
    }

        .photo-box aside span a {
            color: #ccc;
            text-decoration: none;
        }

#slider_symbol {
	/*display: inline-block;
	margin: 0 auto;*/
	
	/*height: 1000px;
	width: 800px;*/
}

#line_chart {
	display: inline-block;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	/*
	left: 200px;
	right: 200px;
	height: 1000px;
	width: 800px;*/
}
